name: AKS Micro infra deploye
on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
  id-token: write
env:
  work-dir: Env/Dev_Env

jobs:
  terraform-init:
    runs-on: ubuntu-latest
    name: checkout and az login

    steps:
    - name: checkout the code onto runner
      uses: actions/checkout@v6.0.1
    - name: azure login with secrets OIDC based
      uses: Azure/login@v2.3.0
      with:
        client-id: ${{secrets.CLIENT_ID}}
        tenant-id: ${{secrets.TENANT_ID}}
        subscription-id: ${{secrets.SUBSCRIPTION_ID}}
    - name: Install Terraform
      uses: little-core-labs/install-terraform@v2.0.0
      with:
        version: 1.13.1
    - name: terraform init
      run: terraform init
      working-directory: ${{env.work-dir}}
    - name: terraform plan
      run: terraform plan -out=plan.tfplan
      working-directory: ${{env.work-dir}}
    - name: terraform apply
      run: terraform apply --auto-approve
      working-directory: ${{env.work-dir}}

  destroy:
      runs-on: ubuntu-latest
      name: tf destroy
      steps:
      - name: Terraform Destroy 
        run: terraform destroy --auto-approve
      
          
      
        
        
    







